/* .container-custom, .container-fluid {
    margin: 0 auto;
  } */
  h5{
      font-size:16px;
      font-weight: bolder;
    } 
  
    @media only screen and (min-width:768px) {
      /* .container-custom {
        margin-bottom: 40vh;
      } */
      
      h5 {
        font-weight: bold;
        font-size: calc(20px + 0.1vw);
      }
  
      .highlighted {
        list-style-type: none;
      }
  
      .highlighted::before {
        content: url('https://api.iconify.design/carbon:dot-mark.svg?height=16');
        vertical-align: -0.125em;
        padding-right: 0.5vw;
      }
      
      }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  h1 {
    font-size: 26px;
  }
  
  span {
    cursor: pointer;
  }
    
    .account-nav {
      margin-inline: 10px;
    }
    .breadcrumb{
  background-color:transparent;
  font-size: small;
    }
  
    p{
      color: rgba(0, 0, 0, 0.699);
    }
    
    h2, h4, h1, h5, h6{
      font-family: 'proxima-nova';
   }
  
   a.side-navs {
     cursor: pointer;
   }
  
  
   /* Responsiveness */
  
   @media only screen and (min-width:768px) and (max-width:991px) {
    .container-custom, .container-fluid {
      /* width: 82.5%; */
    }
  }
  
  @media only screen and (min-width:992px) and (max-width:1199px) {
    .container-custom, .container-fluid {
      /* width: 83.5%; */
    }
  }
  
  @media only screen and (min-width:1200px) and (max-width:1399px) {
    .container-custom, .container-fluid {
      /* width: 84.5%; */
    }
  }
  
  @media only screen and (min-width:1400px) and (max-width:1599px) {
    .container-custom, .container-fluid {
      /* width: 85.5%; */
    }
  }
  
  @media only screen and (min-width:1600px) and (max-width:1799px) {
    .container-custom, .container-fluid {
      /* width: 86.5%; */
    }
  }
  
  
  
  .breadcrumb-switch { 
    display: none;
  }
  
  .account-info, .address-book {
    width: 70%;
  }
  
   
  @media only screen and (min-width:360px) and (max-width:767px) {
    .container-custom {
        /* width: 89vw; */
    }
  
    .account-info, .address-book {
      width: 100%;
    }
  
    .myaccount-menu {
      display: none;
    }
  
    .helpcenter-div-fixed {
        display: none;
    }
  
    p, h5 {
        font-size: 12px;
        text-indent: 0;
        left: 0;
    }
  
  
    .no-gap p {
        margin-bottom: 15px;
    }
  
    .heading h1 {
        font-size: 30px;
    }
  
    .heading {
        margin-top: 150px;
    }
  
    .return-policy-h3 {
        padding-right: 0;
        font-size: 14px;
        line-height: 1.5;
    }
    
    h1 {
        font-size: 16px;
        font-weight: bolder;
        line-height: 1.5;
        margin-top: 30px;
    }
  
    h2 {
      font-size: 14px;
    }
  
    span {
      font-size: 13px;
    }
  
    small {
      font-size: 13px;
    }
  
    .start-return-btn {
        width: 100%;
        margin-top: 0;
        font-size: 14px;
    }
  
    .abt-us-div {
        width: 100%;
        text-align: center;
    }
  
    .policy-cnt-li li  {
        font-size: 12px;
    }
  
    .breadcrumb-switch {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
        outline: none;
        border: none;
        box-shadow: none;
        margin-top: 145px;
    }
  
    .breadcrumb-switch:hover {
        outline: none;
        border: none;
        box-shadow: none;
    }
  
    #switch-btn {
        font-size: 13px;
        color: #fff;
        background-color: #000;
        padding: 5px 15px;
        cursor: pointer;
    }
  
    #switch-btn .iconify {
        margin-right: 10px;
    }
  
    #accordionExample button  {
        font-size: 12px;
    }
  
    .edit-btn {
      position: relative;
      top: -60px;
      font-size: 14px;
    }
  
    /* .container-fluid {
      display: none;
    } */
  
  
  }