.my-orders-container {
    // h4 {
    //     font-size: 23px;
    // }

    h2 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .circleGreen {
        fill: #09834F;
        font-size: 7px;
    }

    .circleGrey {
        fill: #5D5D5D;
        font-size: 7px;
    }

    .delivered {
        background: #5D5D5D;
        border-radius: 30px;
        padding: 4px 15px;
        color: white;
        font-size: 12px;
    }

    .border-bottom-mobile {
        border-bottom: 2px solid lightgrey !important;
    }

    .track-order {
        color: #09834F;
        font-weight: 600;
    }

    .track-order-mobile {
        background: #09834F;
        border-radius: 30px;
        padding: 4px 15px;
        color: white;
        font-size: 12px;
    }

    .amount-block {
        position: absolute;
        bottom: 0;

        p:nth-child(2) {
            color: black;
            font-weight: bold;
            margin: 0;
        }
    }

    .product-title {
        font-family: "proxima-nova", sans-serif;
        font-weight: bold;
    }

    .order-details-btn {
        background-color: #E8E8E8;
        border: 1px solid #1A58C7;
        text-transform: inherit;
        color: #000000;
        width: 150px;
        font-size: 15px;
    }

    .buy-again-btn {
        background: #09834F;
        color: #E8E8E8;
        text-transform: inherit;
        border: none;
        border-radius: 0;
        width: 150px;
        display: block;
        margin: 0 0 0 auto;
    }

    .cancel-order-btn {
        background: transparent;
        outline: noen;
        border-radius: 0;
        border: 1px solid #000000;
        color: black;
        text-transform: inherit;
        width: 150px;
        display: block;
        margin: 20px 0 0 auto;
        position: relative;

        &.mobile {
            border: 2px solid #000000;
            font-weight: bold;
            background: #D5D5D5;
        }

        .arrow-right {
            position: absolute;
            right: 15px;
            top: 20px;
        }
    }

    .return-btn {
        background: transparent;
        outline: noen;
        border-radius: 0;
        border: 1px solid #000000;
        color: black;
        text-transform: inherit;
        width: 150px;
        display: block;
        margin: 20px 0 0 auto;

        &.mobile {
            border: 2px solid #000000;
            font-weight: bold;
        }
    }

    .orders-mobile {
        .info-icon {
            color: #f8f9fa;
            background: #A31C1C;
            border-radius: 108px;
        }
    }

    .info-icon {
        color: #A31C1C;
    }

    .orders-mobile {
        .info-text {
            float: none;
            font-size: 14px;
        }
    }

    .info-text {
        font-size: 12px;
        float: right;
    }

    .right-block {
        border-bottom: 2px solid #707070;
        padding-bottom: 40px;
        margin-top: 40px;
    }

    .order-details-block-mobile {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: end;
        bottom: 0;
        width: 100%;

        .order-details-btn {
            height: 40px;
            width: 100px;
            font-size: 13px;
            margin-right: 15px;
        }
    }
}