.surf-more-products-section {
  background: rgb(176,195,115);
  padding: 100px 0;

  p {
    color: black;
    font-family: "proxima-nova", sans-serif;

  }

  .view-products-btn {
    background: #000;
    border-radius: 0;
    width: 20%;
    font-family: "proxima-nova", sans-serif;
    padding: 10px 0;
    color: lightgray;
    text-transform: inherit;
    font-weight: 600;
  }
}