*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "proxima-nova", sans-serif;
  }
  
  .top-bar{
    background-color: black;
    width: 100%;
    height: 38px;
    position: relative;
  }
  
  
  .fixed-top{
    background: white;
  }
  .top-bar p{
    color: #FFFFFF;
    font-size: 12px;
    /* font-size: 13px; */
    line-height: 38px;
    text-align: center;
  }
  /* .container-fluid{
    width: 90%;
  } */
  .navbar{
    height: 60px;
  }
  #navbarResponsive{
    background-color: transparent;
  }
  
  .navbar-color {
    background: #FFFFFF;
    /* opacity: 0.95; */
    color: black;
  }
  .dropdown-menu p{
    font-size: 18px;
    font-weight: bold;
  }
  .nav-item {
    color: #000000;
  }
  
  .custom-drop-down p {
    font-weight: bold;
  }
  
  .navbar-toggler-icon, .navbar-toggler-icon-close {
    border: none;
  }
  
  button {
    border: none;
  }
  
  .dropdown-menu{
    border: none;
    border-radius: 0;
    box-shadow: 0px 3px 6px #00000029;
  }
  .col-3 {
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
  }
  .nav-link:hover{
    text-decoration: underline !important;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover{
    color: #000000 !important;
    
  }
  
  .custom-drop-down .category-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: wrap;
    height: 70px;
    align-content: flex-start;
    margin-left: 17em;
  }
  .custom-drop-down .category-list>li{
    padding: 2px;
    margin-right: 5em;
    margin-bottom: 1em;
  }
  .submenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .submenu .submenu-items{
    flex: 1;
  }
  .submenu-items p{
    font-size: 16px;
  }
  
  
  @media (min-width: 768px) {
    .navbar {
      padding-top: 0%;
      padding-bottom: 0;
    }
  
  
    .navbar .has-megamenu {
      position: static !important;
      font-size: 16px;
    }
  
    .navbar .megamenu {
      /* top: 95%; */
      top: 100%;
      width: 100%;
      padding-left: 4%;
      padding-top: 20px;
      padding-bottom: 50px;
      position: absolute;
      left: 0;
      right: 0;
    }
  
    .navbar .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-right: 5px;
    }
  
    .alignment {
      color: #ffffff;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0 1.5rem;
    }
  
    .hover-change {
      /* background: transparent; */
    }
  
  
    .hover-change {
      /* background: #FFF; */
      color: #000000 !important;
    }
  
  }
  
  .mobile-nav .nav-link {
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .s-left {
    width: 10px;
  }
  
  .badge-danger {
    background-color: black;
    
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  
  #cart-count {
    width: 20px;
    height: 20px;
    padding: 0 ;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .s-img-4{
      width: 120px;
      left: 40px;
    }
    .s-left {
  
      float: center;
      margin-right: 15px;
      margin-left: 15px;
    }
  
    .top-bar p {
      font-size: 9px;
      color: #fff;
    }
  
    .nav-item-mobile {
      margin: 0;
      padding: 15px;
      padding-right: 10px;
      padding-left: 1rem;
      color: #EB2C52;
      font-weight: bold;
    }
  
    #mobile-navbar-toggle-btn {
      outline: none;
    }
  
    .display-toggle {
      display: none;
    }
  }
  
  
  
  
  /* .container-1{
    background-color: black;
    height: 20px;
    width:100%;
  } */
  
  #search{
  position: fixed;
  top: 13vh;
  left: 0;
  width: 100%;
  align-items: center;
  }
  #search-1{
    width: 65%;
    font-size: 18px;
    padding-left: 0px;
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border:none;
    border-bottom: 2px solid #00000093;
    border-radius: 0px;
  }
  
  @media only screen and (min-width:768px) {
    #search-1 {
      margin:0 auto;
      margin-top: 10vh;
    }
  
    #search {
      height: 300px;
    }
  }
  
  #search-1:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  
  }
  
  
  #mobile-view {
    display: none;
  }
  
  #formobdiv{
    display: none;
  }
  #formob{
    opacity: 0;
  }
  .dropdown-menu{
    font-size: 14px;
  }
  
  
  /* .dropdown1:hover .dropdown-menu1 {display: block;}
  .dropdown2:hover .dropdown-menu2 {display: block;}
  .dropdown3:hover .dropdown-menu3 {display: block;} */
  /* default css */
  /* @media(max-width:767px){
    .navbar-nav .nav-link {
      padding: 0 5px;
    } */
    /* rv altered css */
  .dropdown1:hover .dropdown-menu1 {display: block;}
  .dropdown2:hover .dropdown-menu2 {display: block;}
  .dropdown3:hover .dropdown-menu3 {display: block;}
    @media only screen and (max-width:767px){
      #web-view {
        display: none;
      }
      #mobile-view {
        display: block;
        height: 100%;
      }
  
      #mobile-topnav {
        height: 100%;
      }
      
      .navbar-nav .nav-link {
        padding: 18px 5px;                          /*      padding: 19px 5px;  */
      }
    .logo-image{
      position:relative;
    }
    #formobdiv{
      display: block;
    }
    #formob{
      opacity: 1;
    }
    
    #forweb{
      display: none !important;
      opacity: 0;
    }
    #search{
      width: 100%;
      margin-top: 20px;
     width: 91%; 
      margin-top: 7px;
      margin-left: 5%;
      border:none;
      position: absolute;
      padding-bottom: 0px;
      height: 100px;
      padding-top: 20px;
      outline: 0;
    } 
    #search input{
      width: 100%;
      padding-left: 0;
      margin-left: -60px;
    }
    #search-1 {
      border-bottom: none;
      width: 85%;
    }
    /* Default css
    #wish{
      margin-top: 10px;
      position: absolute;
   
    } */
  /* rv altered css */
    
    
    .s-img-1{
      margin-left: 0;
      /*
      position: fixed;
      right: 55px;
      top: 60px;
      */
    }
    
    .s-img-2{
      margin-left: -10px;
      /*
      position: fixed;
      right: 30px;
      top: 60px;
      */
    }
  
    .s-img-3{
      margin-left: -10px;
      /*
      position: fixed;
      right: 15px;
      top: 60px;
      */
    }
    
  
    .no-space {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .navbar{
      padding: 0;
      width: 100%;
    }
  
    #navbarMobile {
      background-color: #fff;
      margin: 0;
      padding: 0 30px;
      width: 100%;
    }
    
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  
  .navbar-light .navbar-toggler {
    color: #ffffff;
    /* color: #000000; */
    border-color: transparent;
  }
  /* rv altered css */
  @media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
      /* left: 20px; */
      text-align: left;
      /* rv new */
      margin-top: -6px;
      width: 100%;
      z-index: 200;
  }
  
  /* default css
  @media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
      left: -50px;
      text-align: center;
      min-width: 150px;
  } */
  /* rv altered css for hover dropdown */
  /* .right-menu{
    position: relative;
    display: inline-block;
  
  }
  .dropdown-menu dropdown-menu5{
    display: none;
    position: absolute;
    min-height: 160px;
    z-index: 1;
  }
  .dropdown-menu dropdown-menu5 a{
    padding:12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu dropdown-menu5 a:hover{
    background-color: #FFFFFF;
    color:black;
  
  }
  .right-menu :hover .dropdown-menu dropdown-menu5{
    display: block;
  }
  .right-menu :hover .nav-item dropdown-dropdown5{
    background: transparent;
  } */
  
  }
  
  /* ============ desktop view ============ */
  @media all and (min-width: 768px) {
      .navbar .nav-item .dropdown-menu{ display: none; }
      .navbar .nav-item:hover .nav-link{ color: #000000 !important;  }
      .navbar .nav-item:hover .dropdown-menu{ display: block; }
      
  }	
  
  /*=========== Full Screen Menu ===========*/
  .navbar-toggler {
    border: none;
    background: #000 !important;
    
  }
  
  .navbar-toggler:hover {
      background: #000 !important;
  }
  .navbar-toggler .icon-bar {
    height: 2px;
    width: 18px;
    border-radius: 1px;
    display: block;
    background-color: #000;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  
  .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
  }
  
  /*---Animation menu (create X)---*/
  .navbar-toggler.x .icon-bar:nth-of-type(1) {
      -webkit-transform: translateX(3px) rotate(45deg); /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
      -ms-transform: translateX(3px) rotate(45deg); /* IE 9 */
    -moz-transform: translateX(3px) rotate(45deg); /* Firefox 3-15 */
    -o-transform: translateX(3px) rotate(45deg); /* Opera 10-14 */
      transform: translateX(3px) rotate(45deg);
  
      -webkit-transform-origin: 0% 10%;
      -ms-transform-origin: 0% 10%;
    -moz-transform-origin: 0% 10%;
    -o-transform-origin: 0% 10%;
      transform-origin: 0% 10%;
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    -moz-opacity:0; /* Older Firefox 1 */
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: translateX(3px) rotate(-45deg);
      -ms-transform: translateX(3px) rotate(-45deg);
    -moz-transform: translateX(3px)rotate(-45deg);
    -o-transform: translateX(3px) rotate(-45deg);
      transform: translateX(3px) rotate(-45deg);
  
    -webkit-transform-origin: 5% 90%;
      -ms-transform-origin: 5% 90%;
    -moz-transform-origin: 5% 90%;
    -o-transform-origin: 5% 90%;
      transform-origin: 5% 90%;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    -moz-opacity:1;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  /*---To center elements of the navbar (mobile)---*/
  
  .navbar-brand{
    font-size: 1rem;
  }
  
  /*---Custom AnimateCSS mobile menu items---*/
  .nav-item{
    -webkit-animation-duration: 0.8s; /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
    -moz-animation-duration: 0.8s; /* Firefox 5-15 */
    -o-animation-duration: 0.8s; /* Opera 12-14 */
    animation-duration: 0.8s;
  }
  
  .checkout-item  {
    margin: auto 5px;
  }
  
  .hover-change .checkout-cart {
    width: 22px;
    height: 22px;
    mask: url('https://api.iconify.design/akar-icons:circle-fill.svg') no-repeat center center / contain;
    background-color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  
  
  .hover-change #cart-count {
    color: #FFF;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  
  .hover-change .myaccount-logo {
    margin:0 10px;
    width: 20px;
    height: 20px;
    mask: url('https://api.iconify.design/bi:person.svg') no-repeat center center / contain;
    background-color: #000;

  } 
  
  .hover-change .search-logo {
    margin:0 10px;
    width: 20px;
    height: 20px;
    mask: url('https://api.iconify.design/akar-icons:search.svg') no-repeat center center / contain;
    background-color: #fff;
  }
  
  /* .hover-change:hover .myaccount-logo {
    background-color: #000;
  } */

  a{
    cursor: pointer;
  }

  .hover-change .dropdown1 a{
    color:#000
  }
  
  .hover-change .search-logo {
    background-color: #000;
  }
  
  @media only screen and (min-width:768px) {
  
    .hover-change .checkout-cart {
      /* background-color: #FFF; */
    }
  
    .hover-change:hover .checkout-cart {
      mask: url('https://api.iconify.design/akar-icons:circle-fill.svg') no-repeat center center / contain;
      background-color: #000;
    }
  
    .hover-change #cart-count {
      color: #000;
    }
  
    .hover-change #cart-count {
      color: #fff;
    }
  }
  
  @media only screen and (max-width : 767px) {
  
  
      #navbar-tree-menu{
        height: 100vh !important;
        background-color: #FFFFFF;
        overflow: scroll;
      }
      #navbarText .nav-link {
        padding: 1rem;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
      }
      .navbar-toggler {
        padding: 0 0.75rem;
        color: transparent !important;
      }
  
      .icon-model
  {
    border: 1px solid;
      padding: 3px 5px;
      border-radius: 19px;
      margin-right: 14px;
  }
  .icon-models
  {
    border: 1px solid;
    padding: 4px 12px;
      border-radius: 19px;
      margin-right: 12px;
  }
  
  .products-cart-af
  {
    font-size: 15px;
    text-decoration: underline;
    float: left;
    letter-spacing: 0.7px;
    padding: 9px 0px;
    font-weight: 600;
    cursor: pointer;
  }
  .products-cart-as
  {
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #000;
    color: #fff;
    padding: 8px 28px;
    font-family: "proxima-nova", sans-serif;
    float: right;
    letter-spacing: 0.7px;
    margin:5px;
  }
  .products-cart-div
  {
    padding: 25px 15px 35px 13px;
  }
  .product-cart-head
  {
    font-size: 15px;
  }
  
  }
  
  @media only screen and (min-device-width : 992px) {
      .animated {
          /*CSS transitions*/
          -o-transition-property: none !important;
          -moz-transition-property: none !important;
          -ms-transition-property: none !important;
          -webkit-transition-property: none !important;
          transition-property: none !important;
          /*CSS transforms*/
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;
          transform: none !important;
          /*CSS animations*/
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important;
      }
  
      #navbarText{
          height: auto;
      }
  }
  
  
  
  /*============ Tree Menu =============*/
  
  /* (A) LIST TO MENU */
  .tree, .section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tree {
    background: #fff;
    
  }
  .tree li {
   
    padding: 15px 10px;
  }
  
  .tree .first-level {
    padding: 15px 8px;
    padding-right: 0;
  }
  .tree li:last-child {
    border: 0;
  }
  
  /* (B) SUB-SECTIONS */
  /* (B1) TOGGLE SHOW/HIDE */
  .section ul { display: none; }
  .section input:checked ~ ul { display: block; }
  
  /* (B2) HIDE CHECKBOX */
  .section input[type=checkbox] { display: none; }
  
  /* (B3) ADD EXPAND/COLLAPSE ICON  */
  .section { 
    position: relative; 
    padding-left: 1rem !important;
  }
  .section label:after {
    /* content: url("../../../assets/images/png/next-arrow.png"); */
    position: absolute;
    top: -10px; right: 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
  }
  .section input:checked ~ label:after { 
    transform: rotate(90deg);
  }
  
  /* (B4) SUB-SECTION ITEMS */
  .section ul { margin-top: 10px; }
  .section ul li { color: #000; }
  
  /* DOES NOT MATTER */
  .label {
    font-weight: 600;
  }
  
  /* .sticky{

  } */

/* .fixed-top .notification {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  
} */
.fixed-tops .dropdown-menu4{
  position: absolute;
  right: -35px;
  text-align: center!important;
  top: 47px;
  border: 3px solid #000;
  border-radius: 10px;
  min-width: 200px;
}
.fixed-tops .dropdown-menu4 p:first-child{padding-top:15px;}
.dropdown-menu.dropdown-menu4::before {
  content: "^";
  position: absolute;
  top: -32px;
  right: 44px;
  font-size: 40px;
}
.dropdown-menu.dropdown-menu4::after {
  content: "-";
  position: absolute;
  top: -37px;
  right: 46px;
  font-size: 44px;
  color: #fff;
}