@font-face {
    font-family: "Proxima Nova Light";
    src: url("./fonts/LineIcons.eot");
    src: local("☺"),
    url("./fonts/LineIcons.woff") format("woff"),
    url("fonts/LineIcons.ttf") format("truetype"),
    url("fonts/LineIcons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/LineIcons.eot");
    src: local("☺"),
    url("./fonts/LineIcons.woff") format("woff"),
    url("fonts/LineIcons.ttf") format("truetype"),
    url("fonts/LineIcons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  